{% extends 'base.html' %}

{% block title %}شواهد ادارية App{% endblock %}
{% block TitlePage %}الوثائق ادارية{% endblock %}

{% block content %}

<div class="container mt-5">
    <table class="table table-bordered table-striped text-center">
        <thead class="table-dark">
            <tr>
                <th>الوثيقة</th>
                <th>تحميل  <i class="fa-solid fa-file-pdf"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>شهادة العلاج</td>
                <td><a href="" class="btn btn-success">تحميل</a></td>
            </tr>
            <tr>
                <td>التزام بالخروج المؤقت</td>
                <td><a href="" class="btn btn-success" >تحميل</a></td>
            </tr>
            <tr>
                <td>التزام بالخروج النهائي</td>
                <td><a href="" class="btn btn-success">تحميل</a></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
