{% extends 'base.html' %}

{% block title %} الرئيسية{% endblock %}
{% block TitlePage %}الصفحة الرئيسية{% endblock %}

{% block content %}
<div class="container">
    <div class="card shadow">
        <div class="card-header">
            📢 قانون استخدام المنصة وحماية خصوصية بيانات النزلاء 🛡️
        </div>
        <div class="card-body">
            <p class="card-text">حرصًا على حماية خصوصية بيانات النزلاء وضمان الاستخدام السليم للمنصة، نؤكد على التزام جميع المستخدمين بالقوانين والشروط التالية:</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>سرية المعلومات:</strong> يمنع منعًا باتًا مشاركة أو تسريب أي بيانات شخصية أو طبية تتعلق بالنزلاء لأي جهة غير مخولة.</li>
                <li class="list-group-item"><strong>الاستخدام المشروع:</strong> المنصة مخصصة فقط للأغراض الإدارية والصحية داخل المؤسسة، وأي استخدام خارج هذا النطاق يعرض صاحبه للمساءلة.</li>
                <li class="list-group-item"><strong>حماية الوصول:</strong> يجب على المستخدمين الحفاظ على سرية معلومات تسجيل الدخول وعدم مشاركتها مع أي شخص آخر.</li>
                <li class="list-group-item"><strong>المراقبة والتدقيق:</strong> يتم مراقبة استخدام المنصة لضمان الامتثال للسياسات المعتمدة، وأي انتهاك قد يؤدي إلى اتخاذ إجراءات قانونية.</li>
            </ul>
            <p class="footer mt-3">نحن ملتزمون بتوفير بيئة آمنة تحفظ كرامة وخصوصية جميع النزلاء. </p>
       
            <div class="support">
                <strong>الدعم التقني  :</strong>
             في حال واجهك أي عطب، يرجى الاتصال بالدعم الفني على البريد الالكتروني او رقم الهاتف:  
            <a href="" class="footer text-primary">elmehdimazzout@outlook.com</a>
            <a  class="footer text-primary">0772100343</a>

        </div>
    </div>

    </div>
</div>
{% endblock %}
